@frameColor: #341b0b;
@foundationColor: black;

.position {
	line-height: 15px;
	border-radius: 20px;
	background: white;
	opacity: 0.8;
	border: 4px solid #444;
	height: 15px;
	width: 15px;
	padding: 5px;
	text-align: center;
	display: block;
	margin: 3px auto;
	font-size: 13px;
	color: black;

	&.positionSelected {
		opacity: 1;
		background: #ffd900;
		border: 4px solid #000000;
		text-shadow: 1px 1px #ffffff;
		margin-top: -6px;
		font-weight: bold;
	}

	&.positionSelectedLeft {
		opacity: 1;
		border: 4px solid #aa9726;
		border-left: 4px solid #ffe135;
	}

	&.positionSelectedRight {
		opacity: 1;
		border: 4px solid #aa9726;
		border-right: 4px solid #ffe135;
	}
}


.frame {
	margin: -5px 2px 0;
	width: 34px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	position: relative;
	height: calc(100% - 10px);
	overflow: hidden;

	box-sizing: border-box;
	border-top: 6px solid @frameColor;

	&.frameSelected {
		margin-top: -18px;
		border-top: 6px solid #000;
	}

	.foundation {
		background-color: @foundationColor;
		width: 2px;
		cursor: col-resize;
	}

	.voidFrame {
		display: flex;
		flex-grow: 1;
		border-left: 5px solid @frameColor;
		border-right: 5px solid @frameColor;
	}

	.emptyComb {
		display: flex;
		flex-grow: 1;

		.left {
			background: white;
		}

		.right {
			background: #d7d7d7;
		}
	}

	.feeder {
		display: flex;
		flex-grow: 1;
		border-left: 5px solid @frameColor;
		border-right: 5px solid @frameColor;
		border-bottom: 5px solid @frameColor;
		background: white;
	}

	.partition {
		display: flex;
		flex-grow: 1;
		background: @frameColor;
	}
}
