@import "@/layout.module.less";


.boxesFrameWrap {
	padding: 10px;
}

.breadcrumbsSky {
	background: #3f8fd6;
	color: #ffffff;
	border-bottom-color: #3278b8;
	font-size: 14px;

	a {
		color: #ffffff !important;
	}

	svg {
		color: #ffffff;
		fill: #ffffff;
	}
}


@media @desktop {
	.boxesFrameWrap {
		padding: 20px;
		position: relative;
		display: flex;
	}

	.boxesWrap {
		padding-right: 5px;
		// overflow: hidden;

		// flex-grow: 1;
		// max-width: 50%;
	}

	.frameWrap {
		background-color: white;
		border-radius: 5px 0 0 5px;
		flex-grow: 1;
	}
}
