.git
.github
.idea
.dccache
node_modules
coverage
dist
build
dev-dist
public

src-tauri/target/

# Playwright artifacts
test-results/
playwright-report/
blob-report/
playwright/.cache/

.env
.env.*

npm-debug.log*
pnpm-debug.log*
.DS_Store

README.md
CONTRIBUTING.md
.husky/
