@import '../../layout.less';

#account_edit {
	padding: @mobilePadPx;
	max-width: 1200px;

	h2 {
		padding: 10px 0;
	}
}

// ipad and desktop
@media all and (min-width: @maxMobileWidthPx) {
	#account_edit {
		padding: @desktopPadPx;
	}
}