@import '../layout';

#menu {
	background-color: #f8f8f8;
	border-bottom: 1px solid #c5c5c5;
	padding: 0;
	display: flex;

	ul {
		padding: 5px 10px;
		display: flex;
		list-style: none;
		margin: auto 0;
		flex-wrap: wrap;

		li {
			width: auto;
			text-align:left;
			padding: 5px;
			flex-grow:1;

			text-align: center;

			a {
				color: black;
			}

			.active {
				font-weight: bold;
			}
		}
	}
}

@media all and (min-width: @maxMobileWidthPx) { 
	#menu{
		ul{
			margin-top:10px;
			li{
				// width: 80px;
				// text-align: center;
				padding: 10px 20px;
			}
		}
	}
}