@borderColor: #825500;

.body {
	min-height: 300px;
	border-radius: 3px;
	flex-grow: 1;
}

.frame {
	background-color: white;
	display: flex;
	// min-width: 70%;
}

.frameSideSelector {
	height: 40px;
	padding: 10px;
	border: 1px dotted black;
	border-radius: 3px;
}

.frameSideSelected{
	border: 2px solid blue;
}