@import '../../../layout.module.less';

.forecast{
	margin-top:20px;
	flex-direction: column;

	.graph{
		padding: 0 20px;
	}
}


@media @desktop {
	.forecast{
		display: flex;
		flex-direction: row;

		.graph{
			padding: 0 20px;
			width: 32%;
		}
	}
}