#menu {
	background-color: #f8f8f8;
	border-bottom: 1px solid #c5c5c5;
	padding: 0;
	display: flex;

	ul {
		display: flex;
		list-style: none;
		margin: auto 0;

		li {
			margin: 0 20px;

			a {
				color: black;
			}

			.active {
				font-weight: bold;
			}
		}
	}
}
