.roof {
	height: 16px;
	background: linear-gradient(to bottom, #4a4a4a, #2f2f2f);
	border: 1px solid #1f1f1f;
	border-radius: 3px 3px 0 0;
	cursor: pointer;
	position: relative;
	flex-grow: 1;
}

.lip {
	position: absolute;
	left: 4px;
	right: 4px;
	bottom: -3px;
	height: 3px;
	background: #1f1f1f;
	border-radius: 0 0 2px 2px;
}

.selected {
	background: linear-gradient(to bottom, #666, #3c3c3c);
	border-color: #111;
}
