.hive {
	display: inline-block;

	.roof {
		height: 8px;
		background: linear-gradient(
			to bottom,
			#7b858f 0%,
			//      #f0f3f7 0%,
			//			#c9d0d7 18%,
			//			#9ea8b2 42%,
			#7b858f 65%,
			#5f6974 100%
		);
		border-radius: 2px 2px 0 0;
	}

	.boxes {
		.box {
			border-bottom: 1px solid #2d2300;
			border-left: 0.5px solid #ededed;
			border-right: 0.5px solid #ededed;
			border-top: none;
			background: #ffc848;
			position: relative;
		}

		.largeHorizontalSection {
			border-radius: 0 0 6px 6px;
			position: relative;
		}

		.box:last-child {
			border-radius: 0 0 3px 3px;
		}
	}

	.gripNotch {
		position: absolute;
		left: 50%;
		top: 18%;
		transform: translateX(-50%);
		width: 37.2%;
		max-width: 26px;
		min-width: 13px;
		height: 4px;
		border-radius: 0 0 20px 20px;
		background: linear-gradient(to bottom, #66666691, #ffffff82, #ffffff69);
		pointer-events: none;

		&::before {
			content: '';
			position: absolute;
			left: 50%;
			top: 0;
			transform: translateX(-50%);
			width: 76%;
			height: 3px;
			border-radius: 0 0 20px 20px;
			background: linear-gradient(to bottom, #a2a2a2b5, #9d9d9dbd);
		}
	}

	.legs {
		margin: 0 2px;
	}

	.gate {
		width: 80%;
		height: 2px;
		background: #494949;
		margin: -4px auto 2px;
	}

	.ventilation {
		width: 20%;
		height: 2px;
		background: #494949;
		margin: 0px auto 0px;
		border-radius: 1px 1px 0 0;
	}

	.horizontalFrames {
		width: calc(100% - 8px);
		height: 4px;
		margin: -8px auto 4px;
		background-image: repeating-linear-gradient(
			to right,
			rgba(45, 35, 0, 0.75) 0,
			rgba(45, 35, 0, 0.75) 1px,
			transparent 1px,
			transparent 6px
		);
		opacity: 0.9;
	}
}
