.hive {
	display: inline-block;

	.roof {
		height: 8px;
		border: 1px solid #2d2300;
		background: #363636;
		border-radius: 2px 2px 0 0;
	}

	.boxes {
		.box {
			border-bottom: 1px solid #2d2300;
			border-top: none;
			background: #ffc848;
		}

		.largeHorizontalSection {
			border-radius: 0 0 6px 6px;
			position: relative;
		}

		.box:last-child {
			border-radius: 0 0 3px 3px;
		}
	}

	.legs {
		margin: 0 2px;
	}

	
	.gate {
		width: 80%;
		height: 2px;
		background: #494949;
		margin: -4px auto 2px;
	}

	.ventilation {
		width: 20%;
		height: 2px;
		background: #494949;
		margin: 0px auto 0px;
		border-radius: 1px 1px 0 0;
	}

	.horizontalFrames {
		width: calc(100% - 8px);
		height: 4px;
		margin: -8px auto 4px;
		background-image: repeating-linear-gradient(
			to right,
			rgba(45, 35, 0, 0.75) 0,
			rgba(45, 35, 0, 0.75) 1px,
			transparent 1px,
			transparent 6px
		);
		opacity: 0.9;
	}
}
