html {
	height: 100%;
	display: block;
}

body {
	margin: 0;
	padding: 0;
	background: white;
	height: 100%;
	display: block;
	overflow: auto;
	overscroll-behavior-y: none;
}

* {
	font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
}

input{
	border-radius: 5px;
	border: 1px solid gray;
	box-sizing: border-box;
	height: 32px;
}

input:focus, textarea:focus{
	outline: 2px solid rgb(30, 95, 234);
}

textarea{
	border-radius: 5px;
	border: 1px solid gray;
}