@import '@/layout.module.less';

.header {
	background: white;
	border-right: 1px solid #e1e1e1;
	position: relative;

	img {
		width: 55px;
		margin: 0 auto;
		display: block;
	}

	a {
		display: block;
		cursor: pointer;
	}
}

@media @mobile {
	.header {
		border-right: none;
	}
}
