@import '../layout.module.less';

.pageShell {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.mainColumn {
	display: flex;
	flex-direction: column;
	flex: 1;
	min-width: 0;
}

.content {
	flex: 1;
	min-width: 0;
}

@media @tabletAndUp {
	.pageShell {
		flex-direction: row;
		min-height: 100%;
		padding-left: 200px;
		box-sizing: border-box;
	}
}

@media @mobile {
	.content {
		padding-bottom: 86px;
	}
}
