@maxMobileWidthPx: 576px;
@maxTabletWidthPx: 1200px;

@mobile: ~"all and (max-width: @{maxMobileWidthPx})";
@tabletAndUp: ~"all and (min-width: @{maxMobileWidthPx})";
@mobileAndTablet: ~"all and (max-width: @{maxTabletWidthPx})";
@desktop: ~"all and (min-width: @{maxTabletWidthPx})";

@mobilePadPx: 8px;
@tabletPadPx: 15px;
@desktopPadPx: 30px;